services:
    client:
        container_name: client
        build:
            context: .
            dockerfile: ./Dockerfile
            # tags:
            #     - 'significantotter/kobold-images:latest'
        restart: always
